body {
  background: #fffff8;
  font-family: "Belleza", "Open Sans", sans-serif;
  margin: 0;
  line-height: normal;
  width: 100%;
}

#app {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(200px, auto);
  background: lightsteelblue;
  color: black;
  grid-gap: 1em;
  font-family: "Belleza", "Open Sans", sans-serif;
}

.user-box {
  display: flex;
  align-items: flex-end;
  gap: 0 5px;
  margin: 5px;
}

#city {
  background-color: #fff;
  color: gray;
}

.main-content {
  display: flex;
}
.holder {
}

.entry {
  background: #fff;
  // grid-column: 1 / -1;
}

#entryHolder {
}

#departure {
  background-color: #fff;
  color: gray;
}

#photo {
  margin: 0 5px;
}

.image {
  width: 100%;
}

#content {
}

.headline {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  background-color: #fff;
}
.info-box {
  font-weight: 900;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-weight: 600;
}

input {
  display: block;
  background-color: #fff;
  border: 1px solid #bacdd8;
  border-radius: 12px;
  padding: 8px 12px;
  font-family: "Oswald", sans-serif;
  box-shadow: 2px 4px 5px #444;
}

input:hover {
  cursor: auto;
}

button {
  border: none;
  padding: 8px 12px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  color: #788697;
  background-color: #e0efff;
  transition: background-color 200ms ease-in-out;
  display: inline-block;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  box-shadow: 2px 4px 5px #444;
}

button:hover {
  color: #0077ff;
}

textarea {
  background: #22b2da;
  font-family: "Oswald", sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-family: "Oswald", sans-serif;
}

/* *************************************************************** */
/* ** media query for medium screen. ** */
/* *************************************************************** */

@media (min-width: 600px) and (max-width: 900px) {
  .headline {
    font-size: 44px;
  }
  input {
    padding: 8px 18px;
  }
  button {
    padding: 8px 24px;
  }

  .user-box {
    gap: 0 10px;
    margin: 10px;
  }
  .info-box {
    font-size: 22px;
    padding: 5px;
  }

  label {
    font-size: 17px;
  }
  #photo {
    margin: 0 15px;
  }
}

/* *************************************************************** */
/* ** media query for large screen. ** */
/* *************************************************************** */

@media (min-width: 901px) {
  .headline {
    font-size: 48px;
  }
  input {
    padding: 8px 22px;
  }
  button {
    padding: 8px 30px;
  }
  .user-box {
    gap: 0 15px;
    margin: 15px;
  }
  .info-box {
    font-size: 28px;
    padding: 10px;
  }

  label {
    font-size: 20px;
  }
  #photo {
    margin: 0 25px;
  }
}
